body{
    background-color:grey;
    background: url("../images/greyPattern.jpg");
    background-repeat: repeat;
    background-size: 150px;
    
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2e2e2e;
  height: 65px
}
.mainMenu {
  float: left;
}

.mainMenu a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 25px 16px;
  font-size: 1.1em;
  text-decoration: none;
}
.mainMenu a:hover:not(.active) {
  background-color: #000000;
}

.active {
  background-color: #009442;
}

.logo{
  background-color: #454545;
  width: 40px;
  height: 40px;
  display: block;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  font-size: 1em;
  text-decoration: none;
}
.loginButton{
  float: right;
  font-size: 1em;
}

